{:tags ["typescript"]
   :writer "x-man"
   :address "Microsoft Korea, 서울 종로구 중학동 19 더케이트윈타워 A동 11층 루브르 룸"
   :start "2017-06-03 13:00:00"
   :title "Typescript with MSP"
   :id 68
   :url "https://msp-typescript.github.io/"
   :end "2017-06-03 28:00:00"}
