{:tags ["python" "django" "djangogirls"]
   :writer "x-man"
   :address "마이크로소프트코리아 12층"
   :start "2017-06-23 19:00:00"
   :title "Django Girls Main Workshop"
   :id 69
   :url "https://djangogirls.org/seoul/apply/"
   :end "2017-06-23 22:00:00"}
